<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
    <div class="iphone12promax">
        <div class="">
            <img class="iPhonekartinka" src="../img/fe41c948008a339c352d56ad7b935ba07d5ba279.png" alt="">
        </div>

    </div>

      <section class="products">
        <div class="title">
            <h2>New!🔥</h2>
            <h4>View all ></h4>
        </div>
        <div class="product-block">
             <div class="card">
                <img class="card-img" src="../img/PlayStation.png" alt="">
                <div class="card-info">
                    <span class="card-type">Game console</span>
                    <div class="card-name">Sony PlayStation 5 <br> (Digital edition)</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>5418 reviews</span>
                    </div>
                    <div class="card-price">$399</div>
                </div>
            </div>
                 <div class="card">
                <img class="card-img" src="../img/Laptop.png" alt="">
                <div class="card-info">
                    <span class="card-type">Laptop</span>
                    <div class="card-name">Apple MacBook <br>Pro 13″ 2020</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>224 reviews</span>
                    </div>
                    <div class="card-price">$1499</div>
                </div>
            </div>
                 <div class="card">
                <img class="card-img" src="../img/Samsumg.png" alt="">
                <div class="card-info">
                    <span class="card-type">Smartphone</span>
                    <div class="card-name">Samsung Galaxy S20 FE <br> G780 128GB Blue</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/StarGray.svg" alt="">
                        <span>148 reviews</span>
                    </div>
                    <div class="card-price">$635</div>
                </div>
            </div>
                 <div class="card">
                <img class="card-img" src="../img/Xiomi.png" alt="">
                <div class="card-info">
                    <span class="card-type">Smartphone</span>
                    <div class="card-name">Xiaomi Mi 10 Ultra <br>256GB Obsidian Black</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>12 reviews</span>
                    </div>
                    <div class="card-price">$999</div>
                </div>
            </div>
                 <div class="card">
                <img class="card-img" src="../img/iphone12promax.png" alt="">
                <div class="card-info">
                    <span class="card-type">Smartphone</span>
                    <div class="card-name">Apple iPhone 12 <br>Pro Max 128GB</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>125 reviews</span>
                    </div>
                    <div class="card-price">$1199</div>
                </div>
            </div>
        </div>
</body>
</html>