<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="products">
        <div class="title">
            <h2>Most expected!🔥</h2>
            <h4>View all ></h4>
        </div>
        <div class="product-block">
            <div class="card">
                <img class="card-img" src="../img/GamePad.png" alt="">
                <div class="card-info">
                    <span class="card-type">Gamepad</span>
                    <div class="card-name">Sony PlayStation 5 <br>(Digital edition)</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>98 reviews</span>
                    </div>
                    <div class="card-price">$99</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../img/2GamePads.png" alt="">
                <div class="card-info">
                    <span class="card-type">Console Accessories</span>
                    <div class="card-name">PlayStation Charger <br>Station DualSense PS5</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>5 reviews</span>
                    </div>
                    <div class="card-price">$33</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../img/Ipad1.png" alt="">
                <div class="card-info">
                    <span class="card-type">Tablet</span>
                    <div class="card-name">Apple iPad Air 10.9" Wi-Fi <br> Cellular 64GB 2020</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>1778 reviews</span>
                    </div>
                    <div class="card-price">$622</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../img/Xiomi1.png" alt="">
                <div class="card-info">
                    <span class="card-type">Smartphone</span>
                    <div class="card-name">Xiaomi Mi 10 Pro 256 GB <br>Solstice Grey</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>12 reviews</span>
                    </div>
                    <div class="card-price">$1199</div>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="../img/Iphone1.png" alt="">
                <div class="card-info">
                    <span class="card-type">Smartphone</span>
                    <div class="card-name">Apple iPhone 12 <br>Pro Max 128GB</div>
                    <div class="card-rating">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <img src="../img/Star.svg" alt="">
                        <span>125 reviews</span>
                    </div>
                    <div class="card-price">$1199</div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>